@model Contrib.ContentReference.ViewModels.ContentReferenceFieldViewModel
@using Contrib.ContentReference.Settings
@{
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<ContentReferenceFieldSettings>();
}
<fieldset>
    @if (settings.Multiple)
    {
        <label for="@Html.FieldIdFor(m => m.SelectedContentIds)">@Model.Field.DisplayName</label>
        @Html.ListBoxFor(model => model.SelectedContentIds, new MultiSelectList(Model.SelectionList, "Value", "Text"))
    }
    else
    {
        <label for="@Html.FieldIdFor(m => m.SelectedContentId)">@Model.Field.DisplayName</label>
        @Html.DropDownListFor(model => model.SelectedContentId, new SelectList(Model.SelectionList, "Value", "Text"))
    }
</fieldset>
